.features{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.features_item{
    width: calc(100%/3);
    text-align: center;
    padding: 0 20px;
    margin: 25px 0;
}
.features_img{
    margin-bottom: 20px;
}
.features_name{
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    color: #2d3033;
    font-size: 14px;
    margin-bottom: 20px;

}
.features_text{
    font-size: 14px;
    font-family: Raleway, sans-serif;
    color: #6c7279;
    line-height: 2.1;
}