.team {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.team_item {
    width: calc(100%/4);
    padding: 15px;
}

.team_item:not(:last-child) {

    margin-bottom: 20px;
}

.team_img {
    width: 100%;
    margin-bottom: 30px;
}

.team_name {
    font-size: 22px;
    text-transform: capitalize;
    color: #2d3033;
    margin-bottom: 16px;
}


.team_prof {
    color: #e84545;
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 28px;
}

.team_text {
    color: #6c7279;
    line-height: 1.5;
    margin-bottom: 30px;
}

.team_social {
    display: flex;
}

.social_icons {
    display: flex;
    font-size: 20px;
    width: 40px;
    height: 40px;
    color: #e8ecee;
    justify-content: center;
    align-items: center;
    border: 1px solid #e8ecee;
    cursor: pointer;
}

.social_icons:not(:last-child) {
    margin-right: 4px;
}

.social_icons:hover {
    color: rgba(49, 131, 253, 0.75);
    border-color: #000000;
}